@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
  --color-fafafa: #FAFAFA
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  line-height: 120%;
  font-size: inherit;
  font-weight: normal;
  letter-spacing: normal;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-fafafa);
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1024px;
}

.h{
background: #000;
}

.h-r{
  padding: 12px 0;
}
